{% load cache compress git mastodon static unicorn %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>fediview{% if title %}: {{ title }}{% endif %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/marx.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
    {% endcompress %}

    {% if not debug %}
    {{ ANALYTICS_HTML|safe }}
    {% endif %}

    {% block css %}
    {% endblock css %}

    {% compress js %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endcompress %}

    {% block js %}
    {% endblock js %}
</head>

<body class="{{ body_class }}">
    {% csrf_token %}
    <nav>
        <ul style="display: flex;">
            <li class="brand" style="padding-top: .1em;">
                🔍 <a href="/" style="color: #4a4a4a;" class="plausible-event-name=nav-home"
                    data-panelbear="nav-home">fediview</a>
            </li>
            <li style="padding-top: .2em;">
                <a href="{% url 'coltrane:content' 'faq' %}"
                    class="{% if request.path == '/faq' %}active{% endif %} plausible-event-name=nav-faq"
                    data-panelbear="nav-faq">FAQ</a>
            </li>
            <li style="padding-top: .2em;">
                <a href="{% url 'coltrane:content' 'changelog' %}"
                    class="{% if request.path == '/changelog' %}active{% endif %} plausible-event-name=nav-changelog"
                    data-panelbear="nav-changelog">Changelog</a>
            </li>
            <li style="padding-top: .2em;">
                <a href="https://github.com/adamghill/fediview" target="_blank" class="plausible-event-name=nav-code"
                    data-panelbear="nav-code">Code</a>
                <span style="color: grey;">⧉</span>
            </li>
            <li class="auth">
                {% if request.user.is_authenticated %}
                <form action="{% url 'account:logout' %}" method="POST" style="text-align: right;">
                    {% csrf_token %}
                    <span style="padding-right: .5em;">
                        <a href="{{ request.user.username|username_to_url|default:'' }}"
                            class="plausible-event-name=nav-username" data-panelbear="nav-username">
                            {{ request.user.username }}
                        </a>
                    </span>
                    <button class="plausible-event-name=nav-logout" data-panelbear="nav-logout">Logout</button>
                </form>
                {% else %}
                {% csrf_token %}
                <div style="text-align: right;">
                    <a href="{% url 'account:login' %}" class="plausible-event-name=nav-login"
                        data-panelbear="nav-login">
                        <button>Login</button>
                    </a>
                </div>
                {% endif %}
            </li>
        </ul>
    </nav>

    <main>
        <header style="border-bottom: dashed 1px; margin-bottom: 3em;">
            <div style="display: flex;">
                <div style="flex-grow: 1;">
                    <h5>
                        Aggregate the recent popular<br />
                        posts from your Mastodon timeline
                    </h5>
                </div>
                <div style="padding-top: 1.5em;">
                    <a
                        href="https://www.digitalocean.com/?refcode=617d629f56c0&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                            src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg"
                            alt="DigitalOcean Referral Badge" />
                    </a>
                </div>
            </div>
        </header>

        {% block content %}
        {{ content }}
        {% endblock content %}

        <footer>
            <table>
                <tr>
                    <td>
                        <p class="footer-header">Articles</p>
                        <ul>
                            <li>
                                <a href="{% url 'coltrane:content' 'what-is-mastodon' %}"
                                    class="plausible-event-name=footer-what-is-mastodon"
                                    data-panelbear="footer-what-is-mastodon">What is Mastodon?</a>
                            </li>
                            <li>
                                <a href="{% url 'coltrane:content' 'best-tools-for-mastodon' %}"
                                    class="plausible-event-name=footer-best-tools-for-mastodon"
                                    data-panelbear="footer-best-tools-for-mastodon">Tools for
                                    Mastodon</a>
                            </li>
                        </ul>

                        <br />
                        <p class="footer-header">Code</p>
                        <ul>
                            <li>
                                <a href="https://github.com/adamghill/fediview">fediview</a> by <a
                                    href="https://indieweb.social/@adamghill">@adamghill</a>
                            </li>
                            <li>
                                <a href="https://github.com/hodgesmr/mastodon_digest">Digest script</a>
                                by <a href="https://mastodon.social/@MattHodges">@MattHodges</a>
                            </li>
                            <li>
                                <a href="https://github.com/mauforonda/mastodon_digest">Digest script fork</a>
                                by <a href="https://hachyderm.io/@mauforonda">@mauforonda</a>
                            </li>
                            <li>
                                <a href="https://github.com/mauforonda/mastodon_links">Links script</a>
                                by <a href="https://hachyderm.io/@mauforonda">@mauforonda</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <p class="footer-header">Built with</p>
                        <ul>
                            <li>
                                <a href="https://www.django-unicorn.com">django-unicorn</a>
                            </li>
                            <li>
                                <a href="https://coltrane.readthedocs.io">coltrane</a>
                            </li>
                            <li>
                                <a href="https://github.com/halcy/Mastodon.py">mastodon.py</a>
                            </li>
                            <li>
                                <a href="https://docs.pydantic.dev/">pydantic</a>
                            </li>
                            <li>
                                <a href="https://www.djangoproject.com">Django</a>
                            </li>
                            <li>
                                <a href="https://mblode.github.io/marx/">Marx CSS</a>
                            </li>
                            <li>
                                <a href="https://m.do.co/c/617d629f56c0">DigitalOcean</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <p class="footer-header">Other sites</p>
                        <ul>
                            <li>
                                <a href="https://devmarks.io">devmarks.io</a>
                            </li>
                            <li>
                                <a href="https://python-utils.com">python-utils.com</a>
                            </li>
                            <li>
                                <a href="https://unsuckjs.com">unsuckjs.com</a>
                            </li>
                            <li>
                                <a href="https://alldjango.com">alldjango.com</a>
                            </li>
                            <li>
                                <a href="https://sponsorama.dev">sponsorama.dev</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

            {% git_version as git_version %}

            {% if git_version %}
            <p>
                Version:
                <a href="https://github.com/adamghill/fediview/commit/{{ git_version }}">
                    {{ git_version }}
                </a>
            </p>
            {% endif %}
        </footer>
    </main>
</body>

</html>