{% extends 'www/base.html' %}
{% load cache compress static unicorn %}


{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
{% endblock css %}

{% block js %}
{% unicorn_scripts %}

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

{% compress js %}
<script>
    function updateHours() {
        var hours = document.getElementById("hours");
        var hoursValue = document.getElementById("hoursValue");

        if (hours) { // Update the current slider value (each time you drag the slider handle)
            hours.oninput = function () {
                hoursValue.innerHTML = this.value;
            }
        }
    }

    function saveLocal() {
        const saveInputTextboxIds = ['url', 'token', ];
        const saveInputCheckboxId = 'saveInputs';
        const manualAuthorizationDetailsId = 'manual-authorization';

        // Load the url and token from localstorage
        var loadInputs = function ($saveInput) {
            const saveInput = localStorage.getItem(saveInputCheckboxId);
            var isChecked = false;

            if (saveInput && saveInput === "true") {
                isChecked = true;
            }

            $saveInput.checked = isChecked;

            if (isChecked) {
                saveInputTextboxIds.forEach(function (id) {
                    const val = localStorage.getItem(id);

                    if (val) {
                        document.getElementById(id).value = val;

                        // Make sure that unicorn "sees" the change to the text input
                        Unicorn.trigger("timeline", id);
                    }
                });

                let $manualAuthorizationDetails = document.getElementById(manualAuthorizationDetailsId);

                if ($manualAuthorizationDetails) {
                    $manualAuthorizationDetails.open = true;
                }
            }
        };

        var saveInputs = function ($saveInput) {
            const isChecked = $saveInput.checked;

            saveInputTextboxIds.forEach(function (id) {
                if (isChecked) {
                    localStorage.setItem(id, document.getElementById(id).value);
                } else {
                    localStorage.removeItem(id);
                }
            });

            localStorage.setItem(saveInputCheckboxId, JSON.stringify(isChecked));
        };

        let $saveInput = document.getElementById(saveInputCheckboxId);

        if ($saveInput) {
            loadInputs($saveInput);

            // Save inputs when checkbox is changed
            $saveInput.addEventListener('change', function () {
                if (typeof (cronitor) !== 'undefined') {
                    cronitor('track', 'save-url-and-token');
                }

                saveInputs($saveInput);
            });
        }
    }

    window.addEventListener('load', function (event) {
        saveLocal();
    });
</script>
{% endcompress %}
{% endblock js %}

{% block header %}
The algorithmic timeline for Mastodon<br />you've been missing
<br />
<br />
{% endblock header %}

{% block content %}
{% unicorn 'timeline' %}
{% endblock content %}