{% extends 'www/base.html' %}
{% load cache compress static unicorn %}


{% block header %}
Fediview Plus ✨
{% endblock header %}

{% block digitalocean %}
{% endblock digitalocean %}

{% block content %}
<p>
    👋 Hello, I'm <a href="https://indieweb.social/@adamghill/">Adam</a>. I'm a solo developer who
    believes in the promise of decentralized social media. I am looking to improve the ecosystem around
    Mastodon by creating useful tools.
</p>

<h4 class="pt-4 pb-1">Support</h4>

<p>
    Some of the tools I build require hosting costs and other non-free infrastructure (i.e. sending emails),
    not to mention the time it takes to build, support, and maintain the code. <em>Fediview Plus</em> is one way to
    support this project and helps motivate me to keep adding new features!
</p>

<h4 class="pt-4 pb-1">Features</h4>

<ul class="mt-0">
    <li>
        Only include posts for a particular language
    </li>
    <li>
        Get your top posts based on boosts and favorites
    </li>
    <li>
        Personal posts search engine to find one of your previous posts
    </li>
    <li>
        Get your most used tags, mentions, and emojis
    </li>
</ul>

<h4 class="pt-4 pb-2">Video Demo</h4>

<video width="640" controls style="border: 1px solid #ccc">
    <source src="{% static 'mov/fediview-activity.mp4' %}" type="video/mp4">
</video>

<h4 class="pt-4 pb-1">Upcoming Features</h4>

<ul class="mt-0">
    <li>Send daily/weekly emails with Mastodon summaries</li>
    <li>"If this, than that" style workflows (e.g. when a post with a certain tag is in my home timeline, automatically
        bookmark it)</li>
    <li>Store an archival of digests (in a way that is acceptable to the Mastodon ethos)</li>
    <li>Always include posts from certain accounts in the summary</li>
    <li>Schedule posts</li>
    <li>Able to boost or favorite a post directly</li>
    <li>Follow users directly</li>
    <li>See replies to a post</li>
    <li>See whether a post is part of a thread</li>
    <li>Surface posts by users who haven't posted in a while</li>
</ul>

<h4 class="pt-4 pb-1" id="sign-up">Sign Up</h4>

<ol>
    <li>
        {% if request.user.is_authenticated %}
        <strike>Login on fediview</strike>
        {% else %}
        <a href="{% url 'account:login' %}?next=/plus#sign-up">Login on fediview</a>
        {% endif %}
    </li>
    <li>
        <a href="https://github.com/sponsors/adamghill" target="_blank">Sponsor me on GitHub</a> at any level
    </li>
    <li>
        <a href="https://indieweb.social/@adamghill">Send me a message</a> with your GitHub username
    </li>
    <li>
        🎉🎉🎉
    </li>
</ol>

<div class="callout" style="margin-top: 4em;">
    If you are an open-source developer, student, or if in any way sponsoring me would cause undue financial stress,
    please <a href="https://indieweb.social/@adamghill">contact me</a> for access to Fediview Plus. ❤️
</div>
{% endblock content %}