{% load humanize %}

<div class="post {% if additional_post %}additional{% endif %}">
    <div class="avatar">
        <a target="_blank" href="{{ post.account.url }}">
            <img src="{{ post.account.avatar }}">
        </a>
    </div>

    <div class="status">
        {% if post.is_recommendation %}
        <div class="recommended">
            Recommended
        </div>
        {% endif %}

        <div class="user">
            <div class="name">
                {% if post.account.display_name %}
                <a target="_blank" href="{{ post.account.url }}">
                    <span class="displayname">{{ post.account.display_name|safe }}</span>
                </a>
                <a target="_blank" href="{{ post.account.url }}">
                    <span class="username">@{{ post.account.username }}</span>
                </a>
                {% else %}
                <a target="_blank" href="{{ post.account.url }}" style="margin-top: 10px;">
                    <span class="displayname">@{{ post.account.username }}</span>
                </a>
                {% endif %}
            </div>
            <div>
                {% if not post.account.is_following %}
                <a href="https://{{ url }}/@{{ post.account.acct }}" target="_blank">
                    <button>Follow</button>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="status_content">
            <div class="content">
                {{ post.content|safe }}
            </div>
            {% if post.media %}
            <div class="medias">
                {{ post.media|safe }}
            </div>
            {% endif %}
        </div>

        <div class="footer">
            <div class="date" title="{{ post.created_at|date:'DATETIME_FORMAT' }} UTC">
                <a href="{{ post.home_url }}" target="_blank">🔗&nbsp;{{ post.created_at|naturaltime }}</a>
            </div>

            <div class="reactions">
                <span title="{{ post.replies_count }} replies">⥄ {{ post.replies_count }}</span>
                <span title="{{ post.reblogs_count }} boosts" style="margin-left: 5px;">↻
                    {{ post.reblogs_count }}</span>
                <span title="{{ post.favourites_count }} favourites" style="margin-left: 5px;">★
                    {{ post.favourites_count }}</span>
            </div>
        </div>
    </div>
</div>