{% load humanize %}

{% for post in posts %}
<div class="post">
    <div class="avatar">
        <a target="_blank" href="{{ post.account_url }}">
            <img src="{{ post.account_avatar }}">
        </a>
    </div>

    <div class="status">
        <div class="user">
            {% if post.display_name %}
            <a target="_blank" href="{{ post.account_url }}">
                <span class="displayname">{{ post.display_name|safe }}</span>
            </a>
            <a target="_blank" href="{{ post.account_url }}">
                <span class="username">@{{ post.username }}</span>
            </a>
            {% else %}
            <a target="_blank" href="{{ post.account_url }}" style="margin-top: 10px;">
                <span class="displayname">@{{ post.username }}</span>
            </a>
            {% endif %}
        </div>

        <div class="status_content">
            <div class="content">
                {{ post.content|safe }}
            </div>
            {% if post.media %}
            <div class="medias">
                {{ post.media|safe }}
            </div>
            {% endif %}
        </div>

        <div class="footer">
            <div class="date" title="{{ post.created_at|date:'DATETIME_FORMAT' }} UTC">
                <a href="{{ post.home_url }}" target="_blank">🔗&nbsp;{{ post.created_at|naturaltime }}</a>
            </div>

            <div class="reactions">
                <span title="Replies">⥄ {{ post.replies_count }}</span>
                <span title="Boosts" style="margin-left: 5px;">↻ {{ post.reblogs_count }}</span>
                <span title="Favourites" style="margin-left: 5px;">★ {{ post.favourites_count }}</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}