{% extends 'www/base.html' %}
{% load cache compress humanize mastodon static unicorn %}


{% block js %}
{% unicorn_scripts %}
{% endblock js %}

{% block header %}
{{ request.user.username }}
{% endblock header %}

{% block content %}
<div style="margin-top: 3em;">
    {% if show_refresh_message %}
    <div class="callout">
        Posts are currently being indexed. Please <a href="{{ request.path_and_query }}">refresh the page</a> in a few
        minutes.
    </div>
    {% endif %}

    {% if posts_indexed_count == 0 or profile.indexing_type == profile.IndexingType.NONE %}
    <p>
        {% if profile.indexing_type == profile.IndexingType.NONE %}
        Update the <em>Post Indexing</em> option in <a href="{% url 'account:account' %}">account settings</a> to enable
        activity.
        {% else %}
        <form method="POST" action="{% url 'activity:refresh' %}">{% csrf_token %}
            <div style="text-align: right;">
                <button type="submit" style="margin-top: 1em;" class="plausible-event-name=index-posts"
                    data-track="index-posts">
                    Index Posts
                </button>
            </div>
        </form>
        {% endif %}
    </p>
    {% else %}
    <div class="center">
        <div class="box">
            <div class="title">
                {{ posts_indexed_count|default:'n/a' }}
            </div>
            <div class="subtitle">
                Posts
            </div>
        </div>

        <div class="box">
            <div class="title">
                {{ replies_indexed_count|default:'n/a' }}
            </div>
            <div class="subtitle">
                Replies
            </div>
        </div>

        <div class="box">
            <div class="title">
                {{ profile.account.favorites_count|default:'n/a' }}
            </div>
            <div class="subtitle">
                Favorites
            </div>
        </div>

        <div class="box">
            <div class="title">
                {{ profile.account.bookmarks_count|default:'n/a' }}
            </div>
            <div class="subtitle">
                Bookmarks
            </div>
        </div>

        <div class="box">
            <div class="title">
                {{ profile.account.following_count|default:'n/a' }}
            </div>
            <div class="subtitle">
                Following
            </div>
        </div>

        <div class="box">
            <div class="title">
                {{ profile.account.followers_count|default:'n/a' }}
            </div>
            <div class="subtitle">
                Followers
            </div>
        </div>
    </div>

    {% unicorn 'reports' %}

    <hr style="margin-top: 5em; border-top: 1px black dashed" />

    <div class="pt-4">
        <form method="POST" action="{% url 'activity:refresh' %}">{% csrf_token %}
            <button type="submit" class="plausible-event-name=refresh-posts" data-track="refresh-posts">
                Re-index Posts
            </button>
        </form>
    </div>

    <details style="margin-top: 2em;">
        <summary>
            <span style="color: var(--red-600);">Remove Indexed Posts</span>
        </summary>

        <p class="help">
            Removing the indexed posts will permanently remove them from being stored by <em>Fediview</em>. Data cannot
            be recovered after it has been deleted.
            It <strong>does not</strong> delete the posts from your Mastodon instance.
        </p>

        <form method="POST" action="{% url 'activity:delete' %}">{% csrf_token %}
            <div style="text-align: right;">
                <button type="submit" style="margin-top: 1em;" class="danger plausible-event-name=delete-posts"
                    data-track="delete-posts"
                    onclick="javascript: return confirm('This will remove all of the posts indexed for {{ request.user.username }}. Are you sure?');">
                    Remove Indexed Posts
                </button>
            </div>
        </form>
    </details>
</div>
{% endif %}

{% endblock content %}