:root {
    --background: #f9f9f9;
    --text: #3e3d41;
    --post-background: #fff;
    --post-border: #E6E3E1;
    --link: #5d4f84;
    --link-hover: #4d54d1;
    --mastodon-links: #e9e9f5
}

/* @media (prefers-color-scheme:dark) {
    :root {
        --background: #1c1c1c;
        --text: #ffffff;
        --post-background: #282c37;
        --post-border: #282c37;
        --link-hover: #c2c3ff;
        --link: #8c8dff;
        --mastodon-links: #1b1f3d;
    }
}

input {
    color: #000 !important;
} */

body {
    background-color: var(--background);
    color: var(--text);
    text-align: left;
    display: flex;
    justify-content: center;
}

label {
    font-variant-caps: all-small-caps;
    font-size: smaller;
    color: #737373;
}

h1, h2, h3, h4, h5, h6 {
    color: #4a4a4a;
}

#render-description,
#scorer,
#threshold,
#timeline {
    opacity: .8;
    font-size: .9em;
}

#render-description span,
#scorer span,
#threshold span,
#timeline span {
    font-weight: bold;
}

#container {
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    margin: 1em;
    line-height: 1.6;
}

.post {
    background-color: var(--post-background);
    padding: 18px 20px;
    border: 1px solid var(--post-border);
    border-radius: 10px;
    display: flex;
    margin: 1.5em 0px;
    box-shadow: 0.2px 0.4px 0.8px -10px rgba(0, 0, 0, 0.03), 0.4px 0.9px 2px -10px rgba(0, 0, 0, 0.030), 0.8px 1.8px 3.8px -10px rgba(0, 0, 0, 0.038), 1.3px 3.1px 6.7px -10px rgba(0, 0, 0, 0.045), 2.5px 5.8px 12.5px -10px rgba(0, 0, 0, 0.06), 6px 14px 30px -10px rgba(0, 0, 0, 0.08);
}

.post a {
    text-decoration: none;
}

.avatar {
    max-width: 56px;
    min-width: 56px;
    height: 56px;
}

.avatar img {
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid var(--post-border);
}

.status {
    margin-left: 2em;
    width: 100%;
}

.user {
    display: flex;
}

.user a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}

.user .name {
    flex: 1 0 auto;
}

.username {
    font-size: .85em;
}

.displayname {
    font-weight: bold;
    font-size: 1.2em;
}

.displayname img {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    object-fit: contain;
}

.content {
    color: var(--text);
    font-size: 14px;
    padding: .5em 1.5em .5em 0;
    overflow-wrap: break-word;
    word-break: break-word;
}

.medias {
    padding-bottom: 1.5em;
    display: flex;
    gap: .5em;
}

.content p {
    max-width: none;
    margin: 1.5em 0px;
}

.post a {
    color: var(--link);
}

.content a:hover,
.footer a:hover,
.user a:hover {
    color: var(--link-hover);
}

.ellipsis::after {
    content: "…";
}


.content .invisible {
    display: none;
}

.status a:not(.hashtag):not(.mention) span:not(.invisible) {
    font-weight: bold
}

.home-link,
.original-link,
a.hashtag,
a.mention,
.footer .links a {
    text-decoration: none;
    opacity: .8;
    background-color: var(--mastodon-links);
    padding: 0 .5em;
    border-radius: .5em;
}

.media img,
.media video {
    max-width: 100%;
    max-height: 15em;
    border-radius: .5em;
}

.post .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .8em;
    opacity: .7;
}

footer {
    margin-top: 12em;
    border-top: black 1px dashed !important;
}

footer table {
    border-top: 0;
}

footer table tr td {
    width: 33%;
    text-align: left;
    vertical-align: top;
}

section.posts  {
    padding-top: 4em;
}

section.boosts  {
    padding-top: 3em;
}

td {
    border-bottom: 0;
}

div.errors {
    text-align: center;
    color: red;
}

div.errors li a {
    color: red;
}

div.date {
    flex: 1 0 auto;
}

div.reactions {
    flex: 1 0 auto; text-align: right;
}

p.help {
    font-size: smaller;
    color: #737373;
}

#hours {
    margin-top: 0px;
}

#hoursLabel {
    padding-left: 2px;
    padding-right: 10px;
    top: -5px;
    position: relative;
}

#hoursValue {
    padding-left: 6px;
    top: -5px;
    position: relative;
    color: #4a4a4a;
}

table.config {
    width: 100%;
    border-top: 0;
}

td.hours {
    padding-top: 0;
    width: 300px;
}

.footer-header {
    padding-left: 1em;
    font-variant-caps: all-small-caps;
}

code {
    word-break: break-word;
}

/* .post.additional .avatar {
    display: none;
}

.post.additional .user {
    display: none;
}

.post.additional .medias {
    display: none;
}

.post.additional {
    margin-top: 0;
} */
