{% if not user.account.profile.has_plus %}
<div class="callout">
    Get more features with
    <a href="{% url 'www:plus' %}" class="plausible-event-name={{ section_name }}-plus">
        Fediview Plus</a>. ✨

    <ul style="list-style: none; padding-left: 0;">
        <li>Emailed daily digest with entire summary</li>
        <li>Smart post recommendations</li>
        <li>Search personal posts</li>
        <li>Activity metrics</li>
        <li>Filter posts by language</li>
        <li><em>More coming soon!</em></li>
    </ul>
</div>
{% endif %}