{% extends 'www/base.html' %}
{% load cache compress static unicorn %}


{% block content %}
<div style="">

    <p>
        Deleting your account is permanent. Any data cannot be recovered.
    </p>

    <form method="POST" action="{% url 'account:delete' %}">{% csrf_token %}
        <button type="submit" style="margin-top: 1em; background-color: red;" class="plausible-event-name=remove-data"
            data-panelbear="remove-data"
            onclick="javascript: confirm('This will remove all data associated with {{ request.user.username }} and it can not be recovered. Are you sure?');">
            Delete Account
        </button>
    </form>
</div>
{% endblock content %}