{% extends 'www/base.html' %}
{% load cache compress static unicorn %}


{% block content %}
{% if error %}
<div class="errors mb-4">
    <ul>
        <li>
            {{ error }}
        </li>
    </ul>
</div>
{% endif %}

<div style="width: 500px; margin: 0 auto;">
    <form method="POST" action="{{ request.path }}">{% csrf_token %}
        <label for="url">Instance URL</label>
        <input type="text" name="url" id="url" placeholder="mastodon-instance.social"></input>

        <p class="help" style="padding-top: .5em;">
            <strong>read</strong> permissions will be requested to get posts from your
            timeline. Access can be revoked at any time from your Mastodon instance setting's page.
        </p>

        <div style="text-align: right;">
            <button type="submit" style="margin-top: 1em;" class="plausible-event-name=authorize"
                data-track="authorize">Authorize</button>
        </div>
    </form>
</div>
{% endblock content %}