{% load humanize static unicorn %}

<div>
    <table style="width: 100%; border-top: 0; margin-bottom: 0;">
        <tr>
            {% if request.user.is_authenticated %}
            <!-- {{ request.user.username }} -->
            {% else %}
            <td style="padding-bottom: 10px; vertical-align: top; padding-top: 0; width: 50%;">
                <label for="url">Instance URL</label>
                <input u:model.defer="url" u:keydown.enter="get_results" u:key="url" id="url"
                    placeholder="mastodon-instance.social"></input>
                <p class="help">
                    The URL of your Mastodon instance
                </p>
            </td>
            <td style="padding-top: 0">
                <label for="token">Application Token</label>
                <a href="{% url 'coltrane:content' 'faq' %}#how-do-i-generate-a-token" class="info">ⓘ</a>
                <input u:model.defer="token" u:keydown.enter="get_results" u:key="token" id="token"></input>
                <p class="help">
                    Generate a token: <em>Edit profile</em>
                    -> <em>Development</em> -> <em>New application</em>; only
                    <strong>read</strong> access is required
                </p>
            </td>
            {% endif %}
        </tr>
    </table>

    <table class="config">
        <tr>
            <td>
                <label for="timeline">Timeline</label>
                <select u:model.defer="timeline" id="timeline">
                    <option value="home">Home</option>
                    <option value="local">Local</option>
                    <option value="federated">Federated</option>
                </select>
            </td>
            <td>
                <label for="scorer">Algorithm</label>
                <a href="{% url 'coltrane:content' 'faq' %}#what-are-the-available-algorithms" class="info tooltip"
                    data-text="Simple is ↻ + ★. Extended includes ⥄. Weighted deprioritizes accounts with lots of followers.">
                    ⓘ
                </a>
                <select u:model.defer="scorer" id="scorer">
                    <option value="Simple">Simple</option>
                    <option value="SimpleWeighted">Simple Weighted</option>
                    <option value="ExtendedSimple">Extended Simple</option>
                    <option value="ExtendedSimpleWeighted">Extended Simple Weighted</option>
                </select>
            </td>
            <td>
                <label for="threshold">Threshold</label>
                <a class="info tooltip" data-text="How many posts to include.">
                    ⓘ
                </a>
                <select u:model.defer="threshold" id="threshold">
                    <option value="lax">More</option>
                    <option value="normal">Normal</option>
                    <option value="strict">Less</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="hours">
                <label for="hours" id="hoursLabel">Hours</label>
                <input type="range" min="1" max="24" u:model.defer="hours" id="hours">
                <span id="hoursValue">{{ hours }}</span>
            </td>
            <td></td>
        </tr>
    </table>

    {% if not request.user.is_authenticated %}
    <div u:loading.remove style="padding-top: 10px; text-align: center;">
        <input type="checkbox" id="saveInputs" name="saveInputs" class="plausible-event-name=save-url-and-token">
        <label for="saveInputs">Save URL and Token in this browser</label>
    </div>
    {% endif %}

    <div u:loading.remove style="padding-top: 10px; text-align: center;">
        <button u:click="get_results" id="getPopularToots" class="plausible-event-name=get-popular-toots"
            data-panelbear="get-popular-toots">
            Get Popular Toots
        </button>
    </div>

    <div u:loading style="padding-top: 10px; text-align: center;">
        <em>Building digest... this might take a few seconds...</em>
        <div style="padding-top: 100px;">
            <img src="{% static 'img/ball-triangle.svg' %}" />
        </div>
    </div>

    {% if error or unicorn.errors %}
    <div class="errors" u:loading.remove>
        <ul>
            {% if error %}
            <li>
                {{ error }}
            </li>
            {% else %}

            <!-- profile -->
            {% for field in unicorn.errors.url %}
            {% for error in field.message %}
            <li>
                <a href="#url" onclick="document.getElementById('url').focus();">{{ error }}</a>
            </li>
            {% endfor %}
            {% endfor %}

            <!-- token -->
            {% for field in unicorn.errors.token %}
            {% for error in field.message %}
            <li>
                <a href="#token" onclick="document.getElementById('token').focus();">{{ error }}</a>
            </li>
            {% endfor %}
            {% endfor %}

            {% endif %}
        </ul>
    </div>
    {% endif %}

    {% if has_results %}
    <div class="results" u:loading.remove>
        <div class="tabs" id="tabs">
            <ul>
                <li class="{% if are_posts_shown %}active{% endif %}">
                    <a href="#" u:click.prevent="display_posts" class="plausible-event-name=posts" id="posts">Posts
                        ({{ posts|length }})</a>
                </li>
                <li class="{% if are_boosts_shown %}active{% endif %}">
                    <a href="#" u:click.prevent="display_boosts" class="plausible-event-name=boosts" id="boosts">Boosts
                        ({{ boosts|length }})</a>
                </li>
                <li class="{% if are_links_shown %}active{% endif %}">
                    <a href="#" u:click.prevent="display_links" class="plausible-event-name=links" id="links">Links
                        ({{ links|length }})</a>
                </li>
            </ul>
        </div>

        {% if are_posts_shown %}
        <section class="posts">
            {% if posts %}
            {% for post in posts %}
            {% include "www/post.html" %}

            {% comment %} {% for post in post.account.additional_posts %}
            {% with additional_post=True %}
            {% include "www/post.html" %}
            {% endwith %}
            {% endfor %} {% endcomment %}
            {% endfor %}
            {% else %}
            No posts available.
            {% endif %}
        </section>
        {% elif are_boosts_shown %}
        <section class="boosts">
            {% if boosts %}
            {% for post in boosts %}
            {% include "www/post.html" %}
            {% endfor %}
            {% else %}
            No boosts available.
            {% endif %}
        </section>
        {% elif are_links_shown %}
        <section class="links">
            {% if links %}
            {% for link in links %}
            {% include "www/link.html" %}
            {% endfor %}
            {% else %}
            No links available.
            {% endif %}
        </section>
        {% endif %}
    </div>

    <script>
        // Re-init GLightbox so that it picks up any new images that get loaded
        var lightbox = GLightbox({});

        // Send click events to panelbear
        ['posts', 'boosts', 'links', ].forEach(function (id) {
            var el = document.getElementById(id);

            if (el) {
                el.addEventListener('click', function () {
                    if (typeof (panelbear) !== 'undefined') {
                        panelbear('track', id);
                    }
                });
            }
        });
    </script>
    {% endif %}
</div>