<main>
    <header>
        <h1>fedigest</h1>

        <form>
            <table style="width: 100%;">
                <tr>
                    <td>
                        <label for="username">Username</label>
                        <input u:model.defer="mastodon_username" id="username"></input>
                    </td>
                    <td>
                        <label for="base_url">Base URL</label>
                        <input u:model.defer="mastodon_base_url" id="base_url"></input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 0">
                        <label for="token">Token</label>
                        <input u:model.defer="mastodon_token" id="token"></input>
                    </td>
                </tr>
            </table>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <label for="timeline">Timeline</label>
                        <select u:model.defer="timeline" id="timeline">
                            <option value="home">Home</option>
                            <option value="local">Local</option>
                            <option value="federated">Federated</option>
                        </select>
                    </td>
                    <td>
                        <label for="scorer">Scorer</label>
                        <select u:model.defer="scorer" id="scorer">
                            <option value="Simple">Simple</option>
                            <option value="SimpleWeighted">Simple Weighted</option>
                            <option value="ExtendedSimple">Extended Simple</option>
                            <option value="ExtendedSimpleWeighted">Extended Simple Weighted</option>
                        </select>
                    </td>
                    <td>
                        <label for="threshold">Threshold</label>
                        <select u:model.defer="threshold" id="threshold">
                            <option value="lax">Lax (90)</option>
                            <option value="normal">Normal (95)</option>
                            <option value="strict">Strict (98)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top: 0">
                        <label for="hours" style="padding-right: 20px;">Hours</label>
                        <input type="range" min="1" max="24" u:model.defer="hours" id="hours">
                        <span style="display: none;" id="hoursOutput">
                            <span id="hoursValue"></span>
                        </span>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>

        <script>
            var hours = document.getElementById("hours");
            var hoursOutput = document.getElementById("hoursOutput");
            var hoursValue = document.getElementById("hoursValue");

            // Update the current slider value (each time you drag the slider handle)
            hours.oninput = function () {
                hoursOutput.style.display = '';
                hoursValue.innerHTML = this.value;
            }
        </script>

        <div u:loading.remove style="padding-top: 10px; text-align: center;">
            <button u:click="get_results">Get Popular Toots</button>
        </div>
        <div u:loading style="padding-top: 10px; text-align: center;">
            Building digest... this might take a few seconds...
        </div>
    </header>

    {% if has_results %}
    <section class="posts" u:loading.remove>
        {% if posts %}
        <h2>Popular Posts</h2>
        {% with posts=posts %}
        {% include "www/posts.html" %}
        {% endwith %}
        {% endif %}
    </section>

    <section class="posts" u:loading.remove>
        {% if boosts %}
        <h2>Popular Boosts</h2>
        {% with posts=boosts %}
        {% include "www/posts.html" %}
        {% endwith %}
        {% endif %}
    </section>
    {% endif %}

    <footer style="margin-top: 200px; border-top: white 1px dashed;">
        <ul>
            <li>Original, offline code:
                <a href="https://github.com/hodgesmr/mastodon_digest">https://github.com/hodgesmr/mastodon_digest</a>
            </li>
            <li>fedigest.adamghill.com code:
                <a href="https://github.com/adamghill/fedigest">https://github.com/adamghill/fedigest</li>
        </ul>
    </footer>
</main>